= haml :adminheader, :locals => {:text => "new"}

#post.row
  %form{:action => "/movement/new", :method => "post"}
    .small-7.small-offset-2.columns#postform    
      %input#title{:type => "text", :placeholder => "Post Title", :name => "title"}
      %textarea#text{:placeholder => "Post Text", :name => "body"}
    .small-3.columns
      %input.s{:type => "submit", :name => "status", :value => "Save."}
      %input.s{:type => "submit", :name => "status", :value => "Publish."}
      
