= haml :adminheader, :locals => {:text => "dash"}

#dash.row
  .small-2.columns
    %div#side.shead Side
    %input.insert{:type => "text", :placeholder => "link a url here...", :name => "sideurl"}
  .small-3.columns
    %div#notes.shead Notes
    %form#noteform
      %input#inote.insert{:type => "text", :placeholder => "insert a note here...", :name => "innote"}
    %ul#notelist.gg
  .small-4.columns
    %div#drafts.shead Drafts
    %ul#draftposts.gg
  .small-3.columns#pb
    %div#published.shead Published
    %ul#publishedposts.gg
        

%script#post-template{:type => 'text/template'}
  %a{:href => url("movement/edit/{{id}}"), 
     :id => "post{{id}}", :class => "post"}
    %div{:id => "text{{id}}", :class => "posttext"} {{title}}
    %div{:id => "date{{id}}", :class => "postdate"} {{todate date}}
%script#note-template{:type => 'text/template'}
  %div{:id => "post{{id}}", :class => "note"}
    %div{:id => "text{{id}}", :class => "notetext"} {{body}}
    %input{:id => "editnote{{id}}", :class => "edit editnote", :value => "{{body}}"}
%script{:type => 'text/javascript', :src => url('js/app.js')}