!!!

%html
  %head
    %title Blog
    %link{:href => 'http://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto|Source+Sans+Pro:400,600,700,400italic,600italic', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => url('css/style.css'), :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => url('js/jquery.js')}

  %body
