%ul#nav
  %li
    %a{:href => url('/movement/dash')}Dashboard
  %li
    %a{:href => url('/movement/new')}New
  %li
    %a{:href => url('/movement/posts')}Posts
  %li
    %a{:href => url('/movement/sidebar')}Sidebar
  %li
    %a{:href => url('/movement/options')}Options
  %li.ex
    %a{:href => url('/')}To site
