// Foundation
@import "settings";
@import "foundation/foundation-global"; // *always required
@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";
@import "foundation/components/labels";
@import "foundation/components/inline-lists";
@import "foundation/components/panels";
@import "foundation/components/tables";
@import "foundation/components/thumbs";
@import "foundation/components/switch";

$bg: #f6fbfc;
$mid-bg: #eaf0f1;
$top-bg: #c4f5e8;

@mixin blank-in {
  input {
    border:none;
    background:none;
    box-shadow:none;
    margin:0;
  }
}

body {
  background: $bg;
  font: {
    family: Source Sans Pro, Helvetica, sans-serif;
    size: 1em;
  }
}

#login {
  @include blank-in;
  
  margin-top: 200px;
  font: {
    family: 'Montserrat', sans-serif;
    weight: bold;
    size: 48px;
  }
  #slash {
    font-size:72px;
    text-align:center;
    line-height:100px;
  }
  .box {display: inline;}
  #submit {visibility: hidden;}
  #inputs {
    background:$mid-bg;
    div {
      padding:0;
    }
    #username {
      padding-left:1em;
    }
    #password {
      padding-right:1em;
    }
  }
}

#header {
  font: {
    family: 'Montserrat', sans-serif;
    weight: bold;
    size: 30px;
  }
  height: 50px;
  
  
  background: $top-bg;
  color:#535353;
  
  #real {
    position: fixed;
    width:100%;
    padding: {
      left: 12px;
      top: 2px;
    }
    height:50px;
    background: $top-bg;
    z-index:5;
  }
}

a.dark {color:#454545;}
a.light {color:#7a7a7a;}
a.lighter {color:#a2a2a2;}

#post {
  margin-top:80px;
  input, textarea {
    border:none;
    background:none;
    box-shadow:none;
    margin:0;
  }
  input#title {
    font: {
      family: Source Sans Pro, sans-serif;
      size: 24px;
      weight:800;
    }
    height: 36px;
    border-bottom:3px solid #ddd;
    padding: {
      left: 4px;
      right: 5px;
      bottom: 0;
      top: 0; 
    }
  }
  input.s {
    font: {
      family: Montserrat, sans-serif;
      size:16px;
      weight:bold;
    }
    text-transform: lowercase;
    color: #555555;
    &:hover {color: #000000;}
    display:inline-block;
    background: $mid-bg;
    margin: {
      bottom: 10px;
      right: 5px;
    }
  }
  #textc {
    margin-bottom:100px;
  }
  textarea#text {
    font: {
      family: Roboto, sans-serif;
      size:12px;
      weight:500;
    }
    height:auto;
    min-height:300px;
    resize:none;
    padding: {
      left: 5px;
      right: 5px;
      top:0;
      bottom:0;
    }
    overflow:hidden;
  }
  .pt {
    font: {
      family: Montserrat, sans-serif;
      size:16px;
    }
    text-transform: lowercase;
    padding-bottom:8px;
  }
  #status {
    font: {
      size:20px;
      weight:bold;
    }
    padding-top:8px;
    padding-bottom:2px;
  }
  #real {
    position:fixed;
  }
  .switch {
    border:none;
    background:none;
    width:105px;
    margin-bottom:10px;
  }
  .switch label {
    font: {
      family: Montserrat, sans-serif;
      size:16px;
    }
    padding:0;
    text-transform:lowercase;
  }
  div.switch input:last-of-type:checked + label {
    right: 10%;
  }
  .switch > span {
    background:none;
    border:none;
    /*-webkit-box-shadow:80px 0 0 50px #dddddd, -80px 0 0 50px #dddddd;
    box-shadow:80px 0 0 50px #dddddd, -80px 0 0 50px #dddddd;*/
  }
  .t {
    background:#555555;
  }
}

#nav {
  position:relative;
  top:-7px;
  display:inline-block;
  margin-left:20px;
  li {
    display:inline;
    list-style-type:none;
    margin:0;
    padding:0;
    a {
      font: {
        family: Montserrat, sans-serif;
        size: 14px;
        weight: normal;
      }
      text-transform: lowercase;
      color:#777777;
      &:hover {color: #555555;}
    }
    line-height:100%;
  }
  li.ex {
    margin-left:14px;
  }
}

#dash {
  margin-top:80px;
  font: {
      family: Source Sans Pro, sans-serif;
      weight:600;
  }
  .shead {
    font: {
      family: Montserrat, sans-serif;
      weight:400;
      size: 30px;
    }
    text-transform:lowercase;
    border-bottom:5px #555 solid;
  }
  input.insert {
    border: {
      top:0;
      left:0;
      right:0;
      bottom:2px #ddd solid;
    }
    background:none;
    box-shadow:none;
    margin:0;
  }
  a.post {
    font: {
      family: Source Sans Pro, sans-serif;
      size:18px;
      weight:600;
    }
    .posttext {
      margin-top:8px;
    }
    .postdate {
      font-size: 10px;
    }
  }
  .note {
    margin-top:10px;
  }
  .notetext {
    font: {
      size:12px;
      weight:500;
    }
    word-wrap: break-word;
  }
  #pb {
    opacity: 0.5;
    padding-right:0;
  }
}

#sidebar {
  margin-top:80px;
  input, textarea {
    border:none;
    background:none;
    box-shadow:none;
    margin:0;
  }
  input.t {
    font: {
      family: Source Sans Pro, sans-serif;
      size: 24px;
      weight:800;
    }
    height: 36px;
    border-bottom:3px solid #ddd;
    padding: {
      left: 4px;
      right: 5px;
      bottom: 0;
      top: 0; 
    }
  }
  input#url {
    font-size:18px;
  }
  input.s {
    font: {
      family: Montserrat, sans-serif;
      size:16px;
      weight:bold;
    }
    text-transform: lowercase;
    display: block;
    color: #555555;
    &:hover {color: #000000;}
  }
  textarea#text {
    font: {
      family: Roboto, sans-serif;
      size:12px;
      weight:500;
    }
    min-height:300px;
    height:auto;
    padding: {
      left: 5px;
      right: 5px;
    }
  }
}
